@import 'globals';
@import 'home';
@import 'user';

body	{
	background-color: $main-lt;
}

.page-heading	{
	position: fixed;
	width: 100%;
	.site-title	{
		font-size: 36px;
		color: $prim-md;
	}
}

#yield-container	{
	position: relative;
	top: 60px;
}